@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  line-height: normal;
  background-color: #FFFFFF;
}

.header {
  color: #343434;
  padding: 20px;
  position: fixed;
  width: 100%;
  z-index: 999;
  transition: background 0.3s ease-in-out;
}
.header.scrolled {
  background: #fff;
  box-shadow: 0 1px 20px 0px rgba(0, 0, 0, 0.3);
}
.header.scrolled .header__container .header__logo-image {
  background: url(../images/logo_manifest_dark.svg) no-repeat;
  width: 250px;
  background-size: contain;
}
.header.scrolled .header__container .header__mobile-toggle .header__mobile-toggle-bar,
.header.scrolled .header__container .header__mobile-toggle .header__mobile-toggle-bar::before,
.header.scrolled .header__container .header__mobile-toggle .header__mobile-toggle-bar::after {
  background: #343434;
}
.header.scrolled .header__container .header__menu .header__menu-item .header__menu-link {
  color: #343434;
}
.header.scrolled .header__container .header__menu .header__menu-item .header__menu-link.active {
  color: #8A42FB;
}
.header .header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1344px;
  margin: 0 auto;
}
.header .header__container .header__logo-image {
  display: block;
  width: 313.81px;
  height: 48px;
  background: url(../images/logo_manifest.svg) no-repeat;
  background-size: contain;
  transition: all 0.3s ease-in-out;
}
.header .header__container .header__nav {
  transition: transform 0.3s ease-in-out;
}
.header .header__container .header__nav.js-menu.header__nav--open {
  transform: translateX(0);
}
@media (max-width: 768px) {
  .header .header__container .header__nav {
    position: fixed;
    top: 60px;
    right: 0;
    bottom: 0;
    width: 100%;
    height: calc(100vh - 60px);
    background: #fff;
    flex-direction: column;
    padding: 25px;
    transform: translateX(100%);
    z-index: 999;
  }
}
@media (min-width: 768px) {
  .header .header__container .header__nav {
    position: static;
    transform: none;
    background: none;
    width: auto;
    flex-direction: row;
  }
}
.header .header__container .header__nav .header__menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}
@media (max-width: 768px) {
  .header .header__container .header__nav .header__menu {
    flex-direction: column;
  }
}
.header .header__container .header__nav .header__menu .header__menu-item .header__menu-link {
  color: #fff;
  text-decoration: none;
  position: relative;
  margin: 0 10px;
  font-weight: 400;
}
.header .header__container .header__nav .header__menu .header__menu-item .header__menu-link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 4px;
  background: #8A42FB;
  bottom: -5px;
  transition: width 0.3s ease-in-out;
}
.header .header__container .header__nav .header__menu .header__menu-item .header__menu-link:hover::before, .header .header__container .header__nav .header__menu .header__menu-item .header__menu-link.active::before {
  width: 70%;
}
.header .header__container .header__mobile-toggle {
  background: none;
  border: none;
  cursor: pointer;
  display: block;
  width: 24px;
  height: 24px;
}
.header .header__container .header__mobile-toggle .header__mobile-toggle-bar {
  position: relative;
  display: block;
  width: 24px;
  height: 3px;
  border-radius: 6px;
  background: #fff;
  transition: all 0.3s ease-in-out;
}
.header .header__container .header__mobile-toggle .header__mobile-toggle-bar::before, .header .header__container .header__mobile-toggle .header__mobile-toggle-bar::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 3px;
  background: #fff;
  border-radius: 6px;
  transition: all 0.3s ease-in-out;
}
.header .header__container .header__mobile-toggle .header__mobile-toggle-bar::before {
  top: -8px;
}
.header .header__container .header__mobile-toggle .header__mobile-toggle-bar::after {
  bottom: -8px;
}
.header.headerOpen {
  background: #fff;
}
.header.headerOpen .header__container .header__logo-image {
  background: url(../images/logo_manifest_dark.svg) no-repeat;
  background-size: contain;
}
.header.headerOpen .header__container .header__mobile-toggle .header__mobile-toggle-bar {
  height: 0;
}
.header.headerOpen .header__container .header__mobile-toggle .header__mobile-toggle-bar::before {
  transform: rotate(-45deg);
  top: -1px;
  left: -2px;
  background: #343434;
}
.header.headerOpen .header__container .header__mobile-toggle .header__mobile-toggle-bar::after {
  transform: rotate(45deg);
  top: -1px;
  left: -2px;
  background: #343434;
}

.section {
  padding: 80px 0;
}
.section .content {
  max-width: 1344px;
  margin: 0 auto;
}
.section__title {
  font-size: 2rem;
  font-weight: bold;
  color: #8A42FB;
  margin-bottom: 10px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .section__title {
    font-size: 24px;
    text-align: left;
  }
}
.section__description {
  text-align: center;
  font-size: 16px;
  line-height: 120%;
  margin-bottom: 32px;
}
@media screen and (max-width: 768px) {
  .section__description {
    text-align: left;
  }
}
.section__separator {
  display: block;
  width: 100%;
  height: 24px;
  background-color: #8A42FB;
  background: url(../images/icons/icon_user.svg) no-repeat center;
  position: relative;
}
.section__separator::before, .section__separator::after {
  content: "";
  position: absolute;
  width: 48%;
  height: 0;
  border-bottom: 1px solid #FFF;
  top: 50%;
  transform: translateY(-50%);
}
.section__separator::before {
  left: 0;
}
.section__separator::after {
  right: 0;
}
@media screen and (max-width: 768px) {
  .section__separator::before, .section__separator::after {
    width: 40%;
  }
}
@media screen and (max-width: 768px) {
  .section {
    width: 85%;
    margin: 0 auto;
    padding: 30px 0;
  }
}

.footer {
  background-color: #8A42FB;
  color: #343434;
  padding: 60px 0 30px;
}
.footer .footer__container {
  max-width: 1344px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 32px;
}
.footer .footer__container .footer__section {
  flex: 1;
  min-width: 300px;
}
.footer .footer__container .footer__section--main {
  padding-right: 20px;
}
.footer .footer__container .footer__section--main .footer__logo-image {
  margin-bottom: 16px;
}
.footer .footer__container .footer__section--main .footer__description {
  font-size: 1rem;
  line-height: 1.5;
}
.footer .footer__container .footer__section--links {
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding-top: 30px;
}
.footer .footer__container .footer__section--links .footer__list {
  margin-top: 1rem;
}
.footer .footer__container .footer__section--links .footer__list .footer__list-item {
  margin-bottom: 10px;
  list-style: none;
}
.footer .footer__container .footer__section--links .footer__list .footer__list-item .footer__link {
  color: #343434;
  font-size: 1rem;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  position: relative;
  padding-left: 30px;
}
.footer .footer__container .footer__section--links .footer__list .footer__list-item .footer__link::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  left: 0;
  background: url(../images/icons/icon_right-arrow.svg) no-repeat center;
}
.footer .footer__container .footer__section--links .footer__list .footer__list-item .footer__link:hover {
  font-style: italic;
}
.footer .footer__container .footer__bottom {
  max-width: 1344px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.footer .footer__container .footer__bottom .footer__copyright {
  font-size: 14px;
}
.footer .footer__container .footer__bottom .footer__icons {
  display: flex;
  gap: 1rem;
}
.footer .footer__container .footer__bottom .footer__icons .footer__icon-link img {
  width: 24px;
  height: 24px;
}
.footer .footer__container .footer__separator.section__separator {
  max-width: 1344px;
  margin: 30px auto;
}
@media screen and (max-width: 768px) {
  .footer .footer__container {
    max-width: 90%;
  }
  .footer .footer__container .footer__section--links {
    padding-top: 0;
    flex-direction: column;
  }
  .footer .footer__container .footer__separator.section__separator {
    max-width: 90%;
  }
  .footer .footer__container .footer__separator.section__separator::before, .footer .footer__container .footer__separator.section__separator::after {
    width: 40%;
  }
  .footer .footer__container .footer__bottom {
    max-width: 90%;
    margin: 0 auto;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 16px;
    flex-direction: column;
    align-content: flex-start;
  }
  .footer .footer__container .footer__section--main .footer__logo-image {
    margin: 0 auto;
    display: block;
    margin-bottom: 16px;
  }
}

.hero-section {
  text-align: center;
  padding-top: 0;
}
.hero-section .hero-section__content {
  height: 80vh;
  background: #000;
  max-width: 100%;
}
.hero-section .hero-section__content .hero-section__banner {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.hero-section .hero-section__content .hero-section__banner .hero-section__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  opacity: 0.5;
}
.hero-section .hero-section__content .hero-section__caption {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 1344px;
  display: grid;
  gap: 30px;
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: center;
}
.hero-section .hero-section__content .hero-section__caption .hero-section__title {
  font-size: 61px;
  font-weight: bold;
  color: #fff;
  line-height: 120%;
  margin: 0;
}
.hero-section .hero-section__content .hero-section__caption .hero-section__text {
  font-size: 16px;
  line-height: 120%;
  color: #fff;
}
.hero-section .hero-section__content .hero-section__caption .hero-section__text.hero-section__text--featured {
  font-weight: bold;
  color: #fff;
  font-size: 31px;
  line-height: 120%;
}

@media screen and (max-width: 768px) {
  .hero-section {
    width: 100%;
  }
  .hero-section .hero-section__content {
    height: 100vh;
  }
  .hero-section .hero-section__content .hero-section__caption {
    top: 50%;
  }
  .hero-section .hero-section__content .hero-section__caption .hero-section__title {
    font-size: 32px;
    text-align: center;
  }
  .hero-section .hero-section__content .hero-section__caption .hero-section__text.hero-section__text--featured {
    font-size: 24px;
  }
}
.best-places {
  padding: 50px 20px;
  text-align: center;
  background-color: #FFFFFF;
}
.best-places .best-places__content .best-places__description {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.best-places .best-places__content .best-places__grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}
.best-places .best-places__content .best-places__grid .best-places__item {
  overflow: hidden;
  border-radius: 16px;
  height: 288px;
}
.best-places .best-places__content .best-places__grid .best-places__item:nth-child(1) {
  grid-area: 1/1/2/7;
}
.best-places .best-places__content .best-places__grid .best-places__item:nth-child(2) {
  grid-area: 2/1/3/4;
}
.best-places .best-places__content .best-places__grid .best-places__item:nth-child(6) {
  grid-area: 3/5/4/7;
}
.best-places .best-places__content .best-places__grid .best-places__item:nth-child(3) {
  grid-area: 2/4/3/7;
}
.best-places .best-places__content .best-places__grid .best-places__item:nth-child(4) {
  grid-area: 3/1/4/3;
}
.best-places .best-places__content .best-places__grid .best-places__item:nth-child(5) {
  grid-area: 3/3/4/5;
}
.best-places .best-places__content .best-places__grid .best-places__item .best-places__image {
  width: 100%;
  height: 100%;
  display: block;
  transition: transform 0.3s ease;
  object-fit: cover;
  object-position: center;
}
.best-places .best-places__content .best-places__grid .best-places__item .best-places__image:hover {
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .best-places .best-places__content .best-places__description {
    width: 100%;
  }
  .best-places .best-places__content .best-places__grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 20px;
  }
  .best-places .best-places__content .best-places__grid .best-places__item:nth-child(1) {
    grid-area: 1/1/2/7;
  }
  .best-places .best-places__content .best-places__grid .best-places__item:nth-child(2) {
    grid-area: 2/1/3/2;
  }
  .best-places .best-places__content .best-places__grid .best-places__item:nth-child(3) {
    grid-area: 2/1/3/2;
  }
  .best-places .best-places__content .best-places__grid .best-places__item:nth-child(4) {
    grid-area: 3/1/4/2;
  }
  .best-places .best-places__content .best-places__grid .best-places__item:nth-child(5) {
    grid-area: 4/1/5/2;
  }
  .best-places .best-places__content .best-places__grid .best-places__item:nth-child(6) {
    grid-area: 5/1/6/2;
  }
}
.featured-places .featured-places__content {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}
.featured-places .featured-places__content .feature-places__item {
  flex: 1;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  transition: transform 0.3s ease;
  max-width: 100%;
}
.featured-places .featured-places__content .feature-places__item .feature-places__image {
  width: 50%;
}
.featured-places .featured-places__content .feature-places__item .feature-places__image img {
  width: 100%;
  height: auto;
  display: block;
}
.featured-places .featured-places__content .feature-places__item .featured-places__text {
  width: 50%;
  text-align: left;
  padding: 80px;
}
.featured-places .featured-places__content .feature-places__item .featured-places__text .featured-places__title {
  font-size: 1.75rem;
  font-weight: bold;
  color: #8A42FB;
  margin-bottom: 15px;
}
.featured-places .featured-places__content .feature-places__item .featured-places__text .featured-places__description {
  font-size: 1rem;
  margin-bottom: 20px;
}
.featured-places .featured-places__content .feature-places__item:nth-child(odd) .feature-places__image {
  order: 0;
}
.featured-places .featured-places__content .feature-places__item:nth-child(odd) .featured-places__text {
  order: 1;
}
.featured-places .featured-places__content .feature-places__item:nth-child(odd) .featured-places__text .button.button--il::before {
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  left: 16px;
  background: url(../images/icons/icon_airplane.svg) no-repeat center;
}
.featured-places .featured-places__content .feature-places__item:nth-child(even) .feature-places__image {
  order: 1;
}
.featured-places .featured-places__content .feature-places__item:nth-child(even) .featured-places__text {
  order: 0;
}
.featured-places .featured-places__content .feature-places__item:nth-child(even) .featured-places__text .button.button--il::before {
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  left: 16px;
  background: url(../images/icons/icon_beach.svg) no-repeat center;
}

@media screen and (max-width: 768px) {
  .featured-places .featured-places__content {
    max-width: 100%;
  }
  .featured-places .featured-places__content .feature-places__item {
    flex-direction: column;
  }
  .featured-places .featured-places__content .feature-places__item .feature-places__image {
    width: 100%;
    border-radius: 16px;
    overflow: hidden;
    height: 238.5px;
  }
  .featured-places .featured-places__content .feature-places__item .feature-places__image img {
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  .featured-places .featured-places__content .feature-places__item .featured-places__text {
    width: 100%;
    text-align: left;
    padding: 30px 0;
  }
  .featured-places .featured-places__content .feature-places__item:nth-child(odd) .feature-places__image {
    order: 1;
  }
  .featured-places .featured-places__content .feature-places__item:nth-child(odd) .featured-places__text {
    order: 0;
  }
}
.offers-places .offers-places__content .offers-places__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
}
@keyframes heart {
  0%, 17.5% {
    font-size: 0;
  }
}
.offers-places .offers-places__content .offers-places__grid .offers-places__item {
  background-color: #FFFFFF;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease-in-out;
}
.offers-places .offers-places__content .offers-places__grid .offers-places__item .offers-places__item--image {
  position: relative;
  height: 220px;
  overflow: hidden;
}
.offers-places .offers-places__content .offers-places__grid .offers-places__item .offers-places__item--image img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
}
.offers-places .offers-places__content .offers-places__grid .offers-places__item .offers-places__item--image .offers-places__item--favorite {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #fff;
  border: none;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font-size: 1rem;
  color: #8A42FB;
  transition: background-color 0.3s ease-in-out;
  width: 35px;
  height: 35px;
  display: flex;
  align-content: center;
  justify-content: center;
}
.offers-places .offers-places__content .offers-places__grid .offers-places__item .offers-places__item--image .offers-places__item--favorite:hover {
  background-color: #FFFFFF;
}
.offers-places .offers-places__content .offers-places__grid .offers-places__item .offers-places__item--image .offers-places__item--favorite .toggle-heart {
  position: absolute;
  opacity: 0;
}
.offers-places .offers-places__content .offers-places__grid .offers-places__item .offers-places__item--image .offers-places__item--favorite .toggle-heart:checked + label {
  will-change: font-size;
  animation: heart 1s cubic-bezier(0.17, 0.89, 0.32, 1.49);
}
.offers-places .offers-places__content .offers-places__grid .offers-places__item .offers-places__item--image .offers-places__item--favorite .toggle-heart:checked + label svg {
  fill: #8a42fb;
}
.offers-places .offers-places__content .offers-places__grid .offers-places__item .offers-places__item--image .offers-places__item--favorite label {
  font-size: 2em;
  cursor: pointer;
  align-self: center;
  position: relative;
}
.offers-places .offers-places__content .offers-places__grid .offers-places__item .offers-places__item--image .offers-places__item--favorite label:before {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  content: "";
}
.offers-places .offers-places__content .offers-places__grid .offers-places__item .offers-places__item--image .offers-places__item--favorite label:after {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  content: "";
}
.offers-places .offers-places__content .offers-places__grid .offers-places__item .offers-places__item--content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.offers-places .offers-places__content .offers-places__grid .offers-places__item .offers-places__item--content .offers-places__item--chips {
  display: flex;
  gap: 0.5rem;
}
.offers-places .offers-places__content .offers-places__grid .offers-places__item .offers-places__item--content .offers-places__item--chips .offers-places__item--chip {
  background-color: #F3F3F3;
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 16px;
  line-height: 16px;
}
.offers-places .offers-places__content .offers-places__grid .offers-places__item .offers-places__item--content .offers-places__item--date {
  font-size: 12px;
}
.offers-places .offers-places__content .offers-places__grid .offers-places__item .offers-places__item--content .offers-places__item--title {
  font-size: 20px;
  font-weight: bold;
  color: #343434;
  line-height: 120%;
}
.offers-places .offers-places__content .offers-places__grid .offers-places__item .offers-places__item--content .offers-places__item--description {
  font-size: 0.875rem;
  flex-grow: 1;
}
.offers-places .offers-places__content .offers-places__grid .offers-places__item .offers-places__item--content .offers-places__item--price {
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.offers-places .offers-places__content .offers-places__grid .offers-places__item .offers-places__item--content .offers-places__item--price .offers-places__item--price-amount {
  color: #343434;
  font-weight: 800;
}
.offers-places .offers-places__content .offers-places__grid .offers-places__item .offers-places__item--content .offers-places__item--actions {
  display: flex;
  gap: 16px;
}
.offers-places .offers-places__content .offers-places__grid .offers-places__item .offers-places__item--content .offers-places__item--actions .button {
  width: 48%;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .offers-places .offers-places__content .offers-places__grid .offers-places__item {
    max-width: 100%;
  }
}

.section.plans-prices {
  background: #EFF3FB;
}

.plans-prices .plans-prices__table {
  display: block;
  overflow-x: auto;
  position: relative;
  border-radius: 8px;
}
.plans-prices .plans-prices__table .pricing-table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}
.plans-prices .plans-prices__table .pricing-table thead th {
  font-weight: bold;
  padding: 12px;
  position: sticky;
  top: 0;
  z-index: 2;
  padding: 8px;
  white-space: nowrap;
  border: 1px solid #cdcdcd;
  border-top: 0;
  width: 25%;
}
.plans-prices .plans-prices__table .pricing-table thead th:first-child {
  border-left: 0;
}
.plans-prices .plans-prices__table .pricing-table thead th:last-child {
  border-right: 0;
}
.plans-prices .plans-prices__table .pricing-table thead th .button {
  border: 2px solid #CDCDCD;
  width: 80%;
  margin: 16px auto;
  color: #343434;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  max-width: 220px;
}
.plans-prices .plans-prices__table .pricing-table thead th .button:hover {
  background: #CDCDCD;
}
.plans-prices .plans-prices__table .pricing-table thead th .pircing-label {
  font-size: 17px;
  line-height: 24px;
  font-weight: 400;
}
.plans-prices .plans-prices__table .pricing-table thead th .pircing-price {
  font-size: 28px;
  line-height: 32px;
  font-weight: bold;
}
.plans-prices .plans-prices__table .pricing-table thead tr th:first-child {
  position: sticky;
  left: 0;
  z-index: 3;
  background: #eff3fb;
}
.plans-prices .plans-prices__table .pricing-table thead th.pircing-featured {
  color: #8A42FB;
}
.plans-prices .plans-prices__table .pricing-table thead th.pircing-featured .button {
  border-color: #8A42FB;
  background: #8A42FB;
  color: #fff;
}
.plans-prices .plans-prices__table .pricing-table thead th.pircing-featured .button:hover {
  background-color: #7b1fa2;
  border-color: #7b1fa2;
}
.plans-prices .plans-prices__table .pricing-table tbody td {
  padding: 8px;
  white-space: nowrap;
  border: 1px solid #cdcdcd;
  border-top: 0;
  width: 25%;
}
.plans-prices .plans-prices__table .pricing-table tbody tr td:first-child {
  position: sticky;
  left: 0;
  z-index: 3;
  background: #eff3fb;
}

@media screen and (max-width: 768px) {
  .section.plans-prices {
    width: 100%;
    padding: 30px;
  }
  .plans-prices .plans-prices__table .pricing-table tbody td {
    min-width: 165px;
  }
  .plans-prices .plans-prices__table .pricing-table thead th {
    min-width: 165px;
  }
}
.section.contact-section .contact__content .contact__description {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 32px;
}

.contact-section .contact__content .contact__form-container {
  display: flex;
  align-items: center;
  gap: 60px;
  margin-top: 20px;
  justify-content: center;
}
.contact-section .contact__content .contact__form-container .contact__form-image {
  width: 560px;
  height: 396px;
  position: relative;
  overflow: hidden;
}
.contact-section .contact__content .contact__form-container .contact__form-image img {
  border-radius: 8px;
  width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.contact-section .contact__content .contact__form {
  width: 496px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.contact-section .contact__content .contact__form .contact__form-row {
  display: flex;
  gap: 16px;
  width: 100%;
}
.contact-section .contact__content .contact__form .form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.contact-section .contact__content .contact__form .form-group label {
  margin-bottom: 4px;
  font-size: 14px;
  font-weight: bold;
}
.contact-section .contact__content .contact__form .form-group input {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 8px;
  font-size: 14px;
  background-color: #f8f9fb;
  height: 55px;
}
.contact-section .contact__content .contact__form .form-group input:focus {
  outline: 2px solid #8a2be2;
}
.contact-section .contact__content .contact__form .form-group textarea {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 8px;
  font-size: 14px;
  background-color: #f8f9fb;
}
.contact-section .contact__content .contact__form .form-group textarea:focus {
  outline: 2px solid #8a2be2;
}
.contact-section .contact__content .contact__form .form-group.form-check {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 60%;
  flex-direction: row;
  position: relative;
}
.contact-section .contact__content .contact__form .form-group.form-check span.error-message {
  position: absolute;
  bottom: -5px;
}
.contact-section .contact__content .contact__form .form-group.form-check input {
  accent-color: #8a2be2;
  height: 16px;
  width: 16px;
}
.contact-section .contact__content .contact__form .form-group.form-check a {
  color: #343434;
}
.contact-section .contact__content .contact__form .form-group.form-check label {
  font-weight: 400;
}
.contact-section .contact__content .contact__form .contact__form-submit {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #8A42FB;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 125px;
}
.contact-section .contact__content .contact__form .contact__form-submit svg {
  fill: white;
  width: 20px;
  height: 20px;
}
.contact-section .contact__content .contact__form .contact__form-submit:hover {
  background-color: #7b1fa2;
}
.contact-section .contact__content .contact__form .error-message {
  color: red;
  font-size: 12px;
  display: none;
}

@media screen and (max-width: 768px) {
  .section.contact-section .contact__description {
    width: 100%;
  }
  .contact-section .contact__content .contact__form-container {
    gap: 25px;
    flex-direction: column;
  }
  .contact-section .contact__content .contact__form-container .contact__form {
    width: 100%;
    flex-direction: column;
  }
  .contact-section .contact__content .contact__form-container .contact__form-image {
    width: 100%;
    height: 120px;
  }
  .contact-section .contact__content .contact__form .form-group.form-check {
    width: 100%;
  }
}
.button {
  display: inline-block;
  padding: 16px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  position: relative;
}
.button--il {
  padding-left: 50px;
}
.button--ir {
  padding-right: 50px;
}
.button--ir::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  right: 16px;
  background: url(../images/icons/icon_right-arrow.svg) no-repeat center;
}
.button--lg {
  font-size: 16px;
  line-height: 24px;
}
.button--md {
  font-size: 14px;
  line-height: 22px;
  padding: 9px 16px;
}
.button--sm {
  font-size: 12px;
  line-height: 20px;
  padding: 7px 16px;
}
.button.bg--neutral {
  color: #343434;
  background-color: #F3F3F3;
}
.button.bg--neutral:hover {
  background-color: #F3F3F3;
}
.button.bg--amethyst {
  background-color: #8A42FB;
  color: #fff;
}
.button.bg--amethyst:hover {
  background-color: #7b1fa2;
}/*# sourceMappingURL=main.css.map */