$color-white: #fff;
$color-gray: #343434;
$color-black: #000;
$color-amethyst: #8A42FB;
$color-error: red;


$bg-amethyst: #8A42FB;
$bg-amethyst-hover: #7b1fa2;
$bg-neutral: #F3F3F3;
$bg-neutral-hover: #e0e0e0;
$bg-white: #FFFFFF;
$bg-gray: #343434;
$bg-inputs: #f8f9fb;

$bc-amethyst-hover: #7b1fa2;
$bc-amethyst: #8A42FB;

$transition: 0.3s ease-in-out;
$transitionAll: all 0.3s ease-in-out;

$logo-width-default: 313.81px;
$logo-width-scrolled: 250px;

$max-width: 1344px;

$font-family: "Open Sans", sans-serif;